# OSX Finder's settings.
.DS_Store

# Node.js modules.
node_modules/

# Lockfiles of NPM and Yarn.
package-lock.json
npm-shrinkwrap.json‎
yarn.lock

# Log files.
*.log
*.log.*

# JavaScript compiled sources.
src/*.js

# Distribution sources
dist/


# Generated type declarations.
types/

# Transpiled modules and their source-maps.
src/**/*.js
src/**/*.js.map
